<div class="jumbotron" style="background-color: lightblue; margin: 3%">
  <h1 style="text-align: center">Reflections</h1><br/>

  <p class="text-center" style="width: 80%;margin: auto; line-height: 25px">
    <strong>What I Learned:</strong><br/>
    If you've looked over this portfolio (or my
    <a href="http://104.131.47.181/" target="_blank">Assignment Portfolio</a>), you've seen that we covered quite a
    lot of material over the course of this class. We started by learning the basics of Cloud Computing, including
    terminology and different technologies involved in Cloud Computing. We then covered concepts such as Virtualization,
    DNS, and Storage Solutions. Being in my last semester at University of Houston, I had already covered many of these
    topics in other courses. What I took away from this course, however, is the implementation and benefits of Cloud
    Computing for businesses, e.g. cost factors when considering a move to the Cloud, the pros and cons of on-site vs
    off-site hosting, and what kinds of Cloud architectures can be used for different applications.
  </p><br/><br/>

  <p class="text-center" style="width: 80%;margin: auto; line-height: 25px">
    <strong>What Learning Techniques Worked for Me:</strong><br/>
    I am an interactive learner. I retain more knowledge when I am being engaged with the learning process. That being
    said, reading textbooks and slides are not very helpful for me. That is one thing I appreciated about the format of
    this course. The content came in a variety of medias, including online presentations, videos, and interactive MOOC's
    from Rackspace (the most helpful for me).
  </p><br/><br/>

  <p class="text-center" style="width: 80%;margin: auto; line-height: 25px">
    <strong>How This will Help Me Become a Better Professional:</strong><br/>
    Cloud Computing is no longer a new concept, nor is it going away soon. The benefits of using Cloud Computing are
    only beginning to be realized, and businesses are still finding ways to take advantage of these benefits. Being
    well-informed on Cloud Computing will give me the ability to bring these technologies with me to the workforce and
    help the business implement, expand, and make use of Cloud operations.
  </p><br/><br/>

  <p class="text-center" style="width: 80%;margin: auto; line-height: 25px">
    <strong>If We Had More Time:</strong><br/>
    <strong>I Would Like to Continue Learning</strong> about Big Data. I am highly curious about this concept,
    especially in regards to Data Analysis. One professional goal of mine is to learn the Python or R programming and
    Big Data tools sometime in the next couple of years in order to gain some experience and understanding in this
    field. Also, <strong>I Would Improve My Portfolio</strong> by making it a little more visually stimulating. Since I
    was in the process of developing a Ruby on Rails web application for my Capstone Course, I decided to develop my
    portfolios using the same framework. It has some very powerful tools that you can use with little to no
    customization. I would like to have had time to go through and add some custom JavaScript elements and graphics to
    give the site a more interactive feel, which I prefer when I'm learning and may also be helpful to the audience.
  </p><br/><br/>
</div>