<div class="jumbotron" style="background-color: lightblue; margin: 3%">
  <h1 style="text-align: center">Greetings!</h1><br/>
  <p class="text-center" style="width: 80%;margin: auto; line-height: 25px">Welcome to my Assignment Portfolio for Cloud Computing
    Infrastructure. This site illustrates some of the work that I have completed for the course.</p><br/>
  <p class="text-center" style="width: 80%;margin: auto; line-height: 25px">You can access the Modules using the links in the top section
    of the page. Each Module page contains a brief summary of what the module covers, as well as links to and
    information about the assignments in that module.</p><br/>
  <p class="text-center" style="width: 80%;margin: auto; line-height: 25px">You can always come back here by using the "Home" link next to
    the Module links. Feel free to <a href="mailto:csh.accts.foobar@gmail.com">email me</a> if you have any questions or
    comments. Enjoy! </p>
  <br/>
  <%= image_tag "cloud-computing-2001090_1920.jpg", :style => "width: 60%; margin: auto; display: block" %>
</div>
