<div class="jumbotron" style="background-color: lightblue; margin: 3%">
  <h1 style="text-align: center">Salutations!</h1><br/>
  <p class="text-center" style="width: 80%;margin: auto; line-height: 25px">Welcome to my Learning Portfolio for Cloud
    Computing Infrastructure, taught by Professor Ed Crowley. This site illustrates some of the work for this course
    that has been most influential and informative in my learning experience.</p><br/>
  <p class="text-center" style="width: 80%;margin: auto; line-height: 25px">You can access the Module Overviews using
    the links in the top section of the page.
    Each Module Overview page contains a brief summary of what the module covers, as well as links to and information
    about the assignments in that module. Each assignment will open in a new tab, which can be closed either using a
    link on the page or via your web browser. You can also visit the "Reflections" section, which briefly goes over the
    course and what I have learned.</p><br/>
  <p class="text-center" style="width: 80%;margin: auto; line-height: 25px">You can always come back here by using the
    "Home" link next to the Module Overview links. Feel free to <a href="mailto:csh.accts.foobar@gmail.com">email me</a>
    if you have any questions or comments. Enjoy! </p>
  <br/>
  <%= image_tag "cloud-computing-2001090_1920.jpg", :style => "width: 60%; margin: auto; display: block" %>
</div>
