<h1 style="text-align: center">Module Three</h1><br/>

<p class="text-center" style="width: 80%;margin: auto">
  In this module, we looked a little deeper into how Cloud Computing can impact and benefit businesses. We continued
  where we left off on the
  <a href="http://cloudu.rackspace.com/diweb/home" , target="_blank">Rackspace CloudU
    Certification</a> with the second half of the course, as well as completing the final exam for the Certification. We
  also took a look at cryptography, Public Key Infrastructure (PKI), and Michael Porter's
  <a href="https://www.cleverism.com/porters-five-forces-model-strategy-framework/" , target="_blank">Five Forces
    Model</a> and <a href="https://www.youtube.com/watch?v=7wL6x1BSlw8" , target="_blank">Value Chain Model</a>.
</p><br/>

<p class="text-center" style="width: 80%;margin: auto">
  I chose to highlight the Porter's Competitive Model assignment because I believe that this model is very useful for
  any business pursuing a new endeavor or evaluating its current competitive standing within the industry. It covers
  aspects of Cloud Computing, the Internet of Things, and how this Model can be used. I also chose to show my completion
  of the Rackspace CloudU Certification because this MOOC is a comprehensive look at Cloud Computing and its use/effects
  for businesses, and it was a very helpful learning tool.
</p>

<h2 style="text-align: center">Assignments</h2><br/>

<table class="table table-bordered table-hover" style="width: 80%;margin: auto">
  <thead>
  <tr>
    <th>Assignment Name</th>
    <th>Source</th>
    <th>Link</th>
  </tr>
  </thead>

  <tbody>
  <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.name %></td>
        <td><%= assignment.assignment_source %></td>
        <td><%= link_to assignment.assignment_file, asset_path(assignment.assignment_file), target: '_blank' %></td>
      </tr>
  <% end %>
  </tbody>

</table>
<br/>